<!-- <ion-content no-padding>
  <ion-card no-padding>
   

    <ion-card-content>
<ion-card-title>

<h2>  Powerd by Tamilvalai</h2>

</ion-card-title>
</ion-card-content>
</ion-card>
<ion-list>
  <div *ngFor="let item of data;let i=index" text-wrap >
  <ion-item text-wrap style="word-wrap: break-word; word-break: break-all;">
    <ion-thumbnail slot="start" >
      <img src="{{item.jetpack_featured_media_url}}">
    </ion-thumbnail>
      <p text-wrap  class="wrap" >{{item.title.rendered}}</p>
  </ion-item>
  </div>
</ion-list>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let item of data;let i=index" text-wrap >
        <ion-card no-padding>
            <ion-card-content>
              <ion-card-title>
                <p>
                    <br/>
                </p>
              <!--  <ion-chip *ngFor="let date of news.date">
                  <label color="fav">{{date}}</label>
                </ion-chip> -->
              </ion-card-title>
              <p class="img" [innerHTML]="item.content.rendered"></p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
